.games {
  margin: 0 auto;
  padding: 35px;
  max-width: 1200px;

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    column-gap: 30px;
    flex-wrap: wrap;
  }

  &__searchInput {
    width: 300px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 1200px) {
  .games {
    &__content {
      flex-wrap: nowrap;
    }
  }
}
