.header {
  display: flex;
  justify-content: space-between;
}
.searchInput {
  width: 300px;
}

.container {
  margin: 0 60px 60px;
  padding: 35px;
}

.content {
  display: flex;
  flex-direction: row;
}
