.containerUser {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 50px;
  gap: 10px;
}

.avatar {
  border-radius: 100%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  font-weight: 600;
}
